*, *::before, *::after {
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 1em;
    background: linear-gradient(134deg, #f7f1f1f3, #fff, #faf6f7, #f7f4f5);
    background-repeat: no-repeat;
  }
  
.bg {
    background-color: #dad6d6;
    border-radius: 1em;
  }
  
#quote-box {
    vertical-align: auto;
    margin: 5em auto;
    padding: 1em 2em; 
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: #dad6d6;
    max-height: 80vh;
    max-width: 70vw;
    }
  
#text {
    font-size: 2em;
    font-family: monospace;
    font-weight: 500;
    color: #379b38;
  }


#quote-box .text i {
    font-size: 2em;
    margin-right: 0.4em;
    color: #379b38;
  }


  
#author {
    font-size: 1.7em;
    text-align: right;
    color: darkorchid;
  }
  
#buttons {
    position: sticky;
    padding: 1em;
    margin: 1em;
  }